*{
      font-family: "Geist", sans-serif;
}

.hidden{
      display: none;
}
.background{
  background-color: hidden;
}


const allTab = document.getElementById('allTab');
  allTab.classList.remove('btn-primary')
  const rejectedTab = document.getElementById('rejectedTab');
  rejectedTab.classList.add('btn-primary')
  const interviewTab = document.getElementById('interviewTab');
  interviewTab.classList.remove('btn-primary')


  const allTab = document.getElementById('allTab');
  allTab.classList.remove('btn-primary')
  const rejectedTab = document.getElementById('rejectedTab');
  rejectedTab.classList.remove('btn-primary')
  const interviewTab = document.getElementById('interviewTab');
  interviewTab.classList.add('btn-primary')

   const allTab = document.getElementById('allTab');
  allTab.classList.add('btn-primary')
  const interviewTab = document.getElementById('interviewTab');
  interviewTab.classList.remove('btn-primary')
  const rejectedTab = document.getElementById('rejectedTab');
  rejectedTab.classList.remove('btn-primary')
  